# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.lib

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch / Tensorflow checkpoints
*.pt
*.pth
*.h5

# ===== Node / React =====
node_modules/
build/
dist/
.npm/
.cache/

# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# ===== Environment files =====
.env
